# Copyright (c) 2023 [--user-name]
# MIT License

use strict;
use warnings;
use Config;

use SPVM::Builder::Config;

use SPVM::Net::SSLeay::ConfigBuilder;

my $config = SPVM::Builder::Config->new_c99(file => __FILE__);

my $openssl_prefix = SPVM::Net::SSLeay::ConfigBuilder::find_openssl_prefix();
my $openss_build_opts = SPVM::Net::SSLeay::ConfigBuilder::ssleay_get_build_opts($openssl_prefix);

my $cccdlflags = $openss_build_opts->{cccdlflags};

my $inc_path = $openss_build_opts->{inc_path};

my $lib_paths = $openss_build_opts->{lib_paths};

my $lib_links = $openss_build_opts->{lib_links};

if (length $cccdlflags) {
  $config->add_ccflag($cccdlflags);
}

$config->add_include_dir($inc_path);

$config->add_lib_dir(@$lib_paths);

$config->add_lib(@$lib_links);

$config;
